---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes

BreakBeforeBraces: Attach
Cpp11BracedListStyle: true

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: false
IncludeBlocks: Preserve

SpaceBeforeParens: ControlStatements
SpacesInAngles: false
